html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 100%;
  background-color: #438eac;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

ul {
  margin-top: 0;
}

.header {
  height: 100px;
}

.title {
  height: calc(100vh - 100px);
}

.landing {
  position: relative;
  min-height: 600px;
  background-image: url(../band1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-turq {
  background-color: #438eac;
}

.bg-dark-purple {
  background-color: #110934;
}

.bg-orange {
  background-color: #e2a446;
}
.turq {
  color: #438eac;
}

.dark-purple {
  color: #110934;
}
.purp {
  color: #3d1ec8;
}
.orange {
  color: #e2a446;
}

.light-turq {
  color: #d4edf7;
}

.App {
  text-align: center;
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
  color: #110934;
  font-size: 5rem;
}

.album-details {
  display: 'flex';
  flex-direction: column;
  margin-top: 6%;
  background-color: #110934;
  width: 27%;
  margin-left: 14em;
  padding: 56px 53px;
  border-radius: 10%;
}
